/* register.component.css */
.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
  background-color: #e4dfd9;
  color: #fff;
  min-height: 600px;
  width: 100%;
}

.register-container {
  width: 100%; /* Set width to 100% */
  max-width: 600px; /* Set a max-width to control the container width */
  background-color: #5e6c5b;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
}
  .form-group {
    margin-bottom: 1em;
  }
  
  label {
    display: block;
    margin-bottom: 0.5em;
  }
  
  input {
    width: 100%;
    padding: 0.5em;
  }
  
  button {
    background-color: #b29a83;
    color: white;
    padding: 0.5em;
    border: none;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  