/* footer.component.css */
.footer {
    background-color: #686866; /* Black background color for footer */
    color: #fff; /* White text color */
    padding: 10px 0;
  }
  
  /* Add your additional styles for the footer */
  