.navbar-with-background {
  position: relative;
}

.navbar-with-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #686866;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-align: center;
  padding: 10px 20px;
  background-color: transparent;
  color: #e3ded8;
  height: 150px;
  padding-bottom: 0px;
}

.logo-img {
  display: none;
}

.navbar-text {
  font-size: 40px;
  font-family: 'Monaco', monospace;
  z-index: 1;
}

.navbar-home {
  margin-right: 10px;
  z-index: 2;
}

.home-icon {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #000;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
