/* home.component.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
  background-color: #DFB6B2;
  color: #fff;
  min-height: 600px;
}

.left-content {
  width: 20%;
  text-align: center;
}

.left-image {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.user-info,
.login-info {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #854F6c;
  padding: 20px; /* Adjust the padding */
  border-radius: 8px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
  margin-top: 50px; /* Add margin to push it down */
  margin-bottom: 50px;
}

.search-form {
  width: 70%;
  background-color: #854F6c;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  color: rgb(239, 214, 239);
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(203, 100, 227);
  border-radius: 5px;
  box-sizing: border-box;
}

.button {
  background-color: #8f5380;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.logout-button {
  padding-top: 10px;
  background-color: #8f5353;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.login-search-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 40px; /* Increase margin to separate search and login */
}


.stations-container {
  width: 70%;
  background-color: #854F6c;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
}

.stations-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.station {
  width: calc(33.33% - 10px);
  background-color: #653B4A;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #fff;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.station-id {
  margin-right: 10px;
  font-weight: bold;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .station {
    width: calc(50% - 10px);
  }
}