
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
  background-color: #f4efe6;
  color: #fff;
  min-height: 600px;
}

.left-content {
  width: 20%;
  text-align: center;
}

.left-image {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.user-info,
.login-info {
  width: 24%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5e6c5b;
  padding: 20px; 
  border-radius: 8px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
  margin-top: 50px; 
  margin-bottom: 50px;
}

.search-form {
  width: 60%;
  background-color: #16292d;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  color: rgb(239, 214, 239);
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(203, 100, 227);
  border-radius: 5px;
  box-sizing: border-box;
}
.buttons{
  display: flex;
  justify-content: space-between;
}
.button {
  margin-left: 10px;
  margin-right: 10px;
  background-color: #b29a83;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 5px;
}

.logout-button {
  padding-top: 10px;
  background-color: #8f5353;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.login-search-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-top: 20px;
  margin-bottom: 40px;
}


.stations-container {
  width: 70%;
  background-color: #16292d;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
}

.stations-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.station {
  width: calc(33.33% - 10px);
  background-color: #5e6c5b;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #fff;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.station-id {
  margin-right: 10px;
  font-weight: bold;
}


@media (max-width: 768px) {
  .station {
    width: calc(50% - 10px);
  }
}
#mapid {
  height: 400px;
  width: 70%;
  margin-bottom: 20px;
}