<!-- home.component.html -->
<div class="container">
  <div class="login-search-container">
    
    <div *ngIf="userData" class="user-info">
      
      <p>Logged in as: {{ userData.firstName }} {{ userData.lastName }}</p>
      <p>Email: {{ userData.email }}</p>
      <p>Phone: {{ userData.phone }}</p>
      <div class="buttons">
        <button (click)="onMyBookings()" class="button">My Bookings</button>
        <button (click)="onLogout()" class="button logout-button">Logout</button>
      </div>
      
    </div>

    
    <div *ngIf="!userData" class="login-info">
      <p>Access your account for a better experience!</p>
      <a routerLink="/login" class="button">Log in</a>
      <p>or</p>
      <a routerLink="/register" class="button">Register</a>
    </div>

    <div class="search-form">
      <app-search></app-search>
    </div>
  </div>

  <div id="mapid"></div>
  
  <div class="stations-container">
    <h3>Stations</h3>
    <div class="stations-list" *ngIf="(stations$ | async) as stations">
      <div class="station" *ngFor="let station of stations">
        <span class="station-id">{{ station.stationID }}</span>
        {{ station.stationName }}
      </div>
    </div>
  </div>
  
</div>
