.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #e3ded8;
  }
  
  .res-text {
    color: #16292d;
    font-size: 36px;
    margin:20px;
    margin-left: -150px;
  }
  
  .booking-container {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    
  }
  .col {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    
  }
  
  .booking-box {
    width: 35%;
    margin:10px;
    padding: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    background-color: #16292d;
    border-radius: 10px;
    color: #d7dfe2;
  }
  
  .booking-box p {
    margin: 0;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .image-column{
    margin-top: 20px;
    border-radius: 5px;
  }
  