
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
  background-color: #e3ded8;
  color: #fff;
  min-height: 600px;
  width: 100%;
}

.login-container {
  width: 100%; 
  max-width: 600px;
  background-color: #5e6c5b;
  padding: 20px;
  border-radius: 8px;
  box-shadow: #b29a83;
}

.form-group {
  margin-bottom: 1em;
  margin-right: 2em;
  margin-left: 1em;
  margin-top: 1em;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

input {
  width: 100%;
  padding: 0.5em;
}

button {
  background-color: #b29a83;
  color: white;
  padding: 0.5em;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
.p{
  color: #b29a83;
}
